@use "mixin";
* {
    box-sizing: border-box; /* 確保寬度計算不超出範圍 */
  }
html {
    @include mixin.basic;
    overflow-x: hidden;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 防止橫向滾動 */
  }
body {
    margin: 0 auto;
    max-width: 1660px;
    background: linear-gradient(to bottom, #FDFBFB, #EEF1F5); 
    color: #000;
    transition: background-color 0.3s, color 0.3s;     
}

#root {
    margin: 0 auto;
}
h1 {
    @include mixin.h1;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #000;
}
h2 {
    @include mixin.h2;
}
p {
    line-height:1.5;
}
a {
    @include mixin.roboto;
    color: #000;
    &:hover {
        color: #FEADA6 !important;
    }
    &:visited {
        color: inherit;
    }
}

//date
.date {
    @include mixin.roboto;
}
//tag
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    &_tag {
        padding: 5px 15px;
        font-size: 12px;
        background-color: #E3E3E3;
        border-radius: 25px;
        color: #000;
        height: fit-content;
        @include mixin.roboto;
    }            
}
//dark-mode
body.dark-mode {
    background: linear-gradient(to bottom, #212020, #232E55); 
    color: #fff;
    h1 {
        @include mixin.h1;
        border-bottom: 3px solid #fff;
    }
    .l {
        &-header {
            &-left {
                &-profile {
                    background-color: #372AEA;
                }
            }
            &-right {            
                background: linear-gradient(to bottom, #F5EFEF, #372AEA);
                color: #000;
            }
        }
    }
    .scroll-to-top {
        background: linear-gradient(to bottom, #F5EFEF, #372AEA);
    }
}

//top
.scroll-to-top {    
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    font-size: 16px;
    background: linear-gradient(to bottom, #F5EFEF, #FEADA6); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    &:hover {
        opacity: 0.5;
      }
}