@use "mixin";

html {
    @include mixin.basic;
}
body {
    margin: 0 auto;
    max-width: 1660px;
    background: linear-gradient(to bottom, #FDFBFB, #EEF1F5); 
    color: #000;
    transition: background-color 0.3s, color 0.3s;     
}

#root {
    margin: 0 auto;
}
h1 {
    @include mixin.h1;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #000;
}
h2 {
    @include mixin.h2;
}
p {
    line-height:1.5;
}
a {
    @include mixin.roboto;
    color: #000;
    &:hover {
        color: #FEADA6 !important;
    }
    &:visited {
        color: inherit;
    }
}

//date
.date {
    @include mixin.roboto;
}
//tag
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    &_tag {
        padding: 5px 15px;
        font-size: 12px;
        background-color: #E3E3E3;
        border-radius: 25px;
        color: #000;
        height: fit-content;
        @include mixin.roboto;
    }            
}
//dark-mode
body.dark-mode {
    background: linear-gradient(to bottom, #212020, #232E55); 
    color: #fff;
    h1 {
        @include mixin.h1;
        border-bottom: 3px solid #fff;
    }
    .l {
        &-header {
            &-left {
                &-profile {
                    background-color: #372AEA;
                }
            }
            &-right {            
                background: linear-gradient(to bottom, #F5EFEF, #372AEA);
                color: #000;
            }
        }
    }
}